@font-face{
	font-family: 'Intro';
	font-display: swap;
	src: url("../fonts/Intro-Light.woff2") format("woff2"), url("../fonts/Intro-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face{
	font-family: 'Intro';
	font-display: swap;
	src: url("../fonts/Intro-Regular.woff2") format("woff2"), url("../fonts/Intro-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: 'Intro';
	font-display: swap;
	src: url("../fonts/Intro-Bold.woff2") format("woff2"), url("../fonts/Intro-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face{
	font-family: 'Intro';
	font-display: swap;
	src: url("../fonts/Intro-Black.woff2") format("woff2"), url("../fonts/Intro-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}